<%= link_to("Back to List", tasks_path, class: 'back-link') %>

<div class="tasks show">
	<h2>Show task</h2>

	<div class="actions">
		<%= link_to("Edit", '#') %>
		<%= link_to("Delete", '#') %>
	</div>
	<table summary="Task detail view">
		<tr>
			<th>Name</th>
			<td><%= @task.position%></td>
		</tr>
		<tr>
			<th>Position</th>
			<td><%= @task.position%></td>
		</tr>
		<tr>
			<th>Completed</th>
			<td><%= @task.completed? ? 'Yes' : 'No' %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= @task.description%></td>
		</tr>
		<tr>
			<th>Category</th>
			<td>
				
			</td>
		</tr>
	</table>
</div>
























<%#=link_to( 'Edit task', edit_task_path(1) )%>
